<div class="container mt-5" *ngIf="user">

  <div class="row">

    <div class="col-md-3">
      <img [src]="user.imagePath" alt="User Avatar" class="img-fluid mb-3" />

      <div class="input-group">
        <input type="file" class="form-control" accept="image/*" (change)="onFileSelected($event)" name="avatar" id="avatar" aria-describedby="avatar" aria-label="Upload">
        <button [disabled]="!this.selectedFile" class="btn btn-outline-secondary" (click)="onSubmit()" type="button" id="inputGroupFileAddon04">Upload</button>
      </div>
    </div>

    <div class="col-md-9 text-center">
      <h2> {{user.username}}</h2>
    </div>
  </div>

  <div class="col text-center">
    <h3> Your reviews </h3>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Text</th>
          <th>Rating</th>
          <th>Weight</th>
          <th>Board Game</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews">
          <td>{{ review.text }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.weight }}</td>
          <td>{{ review.boardGame[0].name }}</td>
        </tr>
    </tbody>
  </table>
</div>