@import 'bootstrap/scss/bootstrap';
@import '../../../variables.scss';

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
 
.curtain{
    text-align: center;
}

header {
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 18px;
      color: #666;
    }
}
  
#cards-section .curtain {
    background: rgba(248, 249, 250, 0.8);
}
  