<div class="container">
  <header class="text-center mt-5">
    <h1>Welcome to Board Frenzy</h1>
    <p class="lead">Discover and review your favorite board games!</p>
  </header>

  <main>
    <section id="cards-section">
      <div class="curtain w-100 h-100 py-5">
        <h2>Featured games</h2>
          <div class="container">
              <div class="row">
                  <div class="col-12 col-md-6">
                      <div class="card text-bg-primary mb-3">
                          <div class="card-body">
                            <h5 class="card-title text-center">Catan</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-12 col-md-6">
                      <div class="card text-bg-white mb-3">
                          <div class="card-body">
                            <h5 class="card-title text-center">Gloomhaven</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </main>
</div>
